APP_NAME=
# DEBUG, INFO, WARNING, ERROR, CRITICAL
LOGGING_LEVEL=
# LOCAL, REMOTE
LOGS_LOCATE=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_HOST=
MONGODB_PORT=
# _database, _db
MONGODB_DATABASE_NAME=
# _logs
MONGODB_LOGS_DATABASE_NAME=
